:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: #FFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--background);
  --current-font: Aveneur;
  --font-size: 120px;
  --font-top-adjust: 0;
  --background: #000;
  --txt-color: #FFF;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}



p {
  margin: 0;
  color: var(--txt-color)
}

#app {
  padding-top: 22vh;
  padding-left: 20vw;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background);
}


.future-is {
  margin-bottom: 60px;
  font-family: serif;
}

button {
  font-family: serif;
}

.change-word {

  height: 120px;
  position: relative;
}

.word {
  line-height: 1;
  font-size: var(--font-size);
  font-family: var(--current-font);
  color: var(--txt-color);
  position: absolute;
  top: var(--font-top-adjust);
  left: 0;
  max-width: 70vw;
  overflow: hidden;

}

.underline {
  height: 3px;
  width: 70vw;
  background-color: var(--txt-color);
}

.underline::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  color: var(--txt-color);
  border-radius: 12px;
}

.button-container {
  display: inline-block;
  position: relative;

}

button {
  margin-top: 60px;
  background-color: var(--txt-color);
  color: var(--background);
  font-size: 40px;
  border: none;
  outline: none;
  padding: 16px 40px;
  border-radius: 40px;
}

.cursor {
  position: absolute;
  top: 80vh;
  left: 50vw;
  z-index: 2;
  transition: all 1s ease-in-out;
}

path {
  fill: var(--txt-color);
}

@font-face {
  font-family: Aveneur;
  src: url("../fonts/Aveneur.otf") format("opentype");
}

@font-face {
  font-family: Baunk;
  src: url("../fonts/Baunk.otf") format("opentype");
}

@font-face {
  font-family: BROKAT_BY_BOAFFF;
  src: url("../fonts/BROKAT_BY_BOAFFF.ttf") format("opentype");
}

@font-face {
  font-family: Chemre;
  src: url("../fonts/Chemre.otf") format("opentype");
}

@font-face {
  font-family: FT88-Italic;
  src: url("../fonts/FT88-Italic.otf") format("opentype");
}

@font-face {
  font-family: Greca;
  src: url("../fonts/Greca.otf") format("opentype");
}

@font-face {
  font-family: KOUVA GLORIN;
  src: url("../fonts/KOUVA GLORIN.otf") format("opentype");
}

@font-face {
  font-family: Ladi-Weak;
  src: url("../fonts/Ladi-Weak.otf") format("opentype");
}

@font-face {
  font-family: Personify;
  src: url("../fonts/Personify.otf") format("opentype");
}

@font-face {
  font-family: Pilowlava-Regular;
  src: url("../fonts/Pilowlava-Regular.otf") format("opentype");
}

@font-face {
  font-family: Tumb-Regular;
  src: url("../fonts/Tumb-Regular.otf") format("opentype");
}

@font-face {
  font-family: Zighead;
  src: url("../fonts/Zighead.otf") format("opentype");
}